@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(letting_go.jpg);
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Makes the background image fixed while scrolling */
    text-align: center; /* Center the content */
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
a {
    position: relative;
    display: inline-block;
    font-size: 1.9em;
    letter-spacing: .1em;
    color: #ffd000;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ffd000;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
    margin-top: 10px;
}

a:hover {
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow:
        0 0 10px #ffd000,
        0 0 20px #ffd000,
        0 0 40px #ffd000,
        0 0 80px #ffd000,
        0 0 160px #ffd000;
    border: 2px solid #ffffff;
}

a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #ffd000;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
}

a:hover:before {
    width: 100%;
}

#list {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    letter-spacing: .1em;
    color: #ff5900;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ff5900;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
    margin-top: 10px;
}

#list:hover {
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow:
        0 0 10px #ff4500,
        0 0 20px #ff8c00,
        0 0 40px #ffee00,
        0 0 80px #ff8c00,
        0 0 160px #ff4500;
    border: 2px solid #ffffff;
}


#list::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #ff5900;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
}

#list:hover:before {
    width: 100%;
}
